@import "tailwindcss";

@font-face {
    font-family: 'Noto Sans Light';
    font-style: normal;
    src: url("../root/public/static/fonts/static/NotoSans-Light.ttf");
}

@font-face {
    font-family: 'Noto Sans Regular';
    font-style: normal;
    src: url("../root/public/static/fonts/static/NotoSans-Regular.ttf");
}

@font-face {
    font-family: 'Noto Sans Bold';
    font-style: normal;
    src: url("../root/public/static/fonts/static/NotoSans-Bold.ttf");
}



@theme {
    --default-font-family: "Noto Sans Light", sans-serif;
    --regular-font-family: "Noto Sans Regular", sans-serif;
    --bold-font-family:"Noto Sans Bold", sans-serif;
    --color-brand-primary: #000000;
    --section-spacing:60px;
}

#header__search {
    background-color: #ffffff;
}


*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb,
*::-webkit-scrollbar-track {
    display: none;
}

body {
    /* padding-bottom: 10rem; */
}

main {
    padding-bottom: 15rem;
}

/* button stylings */
.btn {
    padding: 7px 1.25rem 7px 1.25rem;
    border-radius: 4px;
    height: fit-content;
    transition: all .35s ease-in-out;
    font-weight: 600;
    letter-spacing: 0.1cap;
    font-family: var(--default-font-family);
    letter-spacing: 0.1cap;
    /* margin: 5px 10px 5px 10px; */
}

.btn.primary {
    background-color: rgba(109, 11, 255, 0);
    border: 1px solid #ffffff;
}

.btn.primary.text-black{
    border: 1px solid #000000;
}

.btn.btn.primary:hover {
    background: #FFFFFF;
    color: #000000;
}

.btn.primary.text-black:hover{
    background-color: black;
    color: white;
}

.btn:hover {
    cursor: pointer;
}

.btn.btn-md {
    font-size: 1.25rem;
}

.btn.btn-sm {
    font-size: 0.9rem;
}

.btn.btn-lg {
    font-size: 1.3rem;
}

/* button stylings end */

/* input stylings */

input {
    transition: all .5s ease-in-out;
}

input:focus,
input:focus-visible {
    border: none !important;
    border-color: transparent !important;
    outline: none !important;
    box-shadow: none !important;
}

/* input stylings end */



/* Dropdown styling */
.dropdown-container {
    position: relative !important;
    padding-bottom: 1rem;
    z-index: 1000;
}

.dropdown-container a {
    display: flex;
}

.dropdown-container a i {
    padding-top: 1px;
    margin-left: 5px;
}

.dropdown {
    background-color: #FFFFFF;
    color: #000000;
    width: 200px;
    box-shadow: 0 0 5px 1px rgba(96, 96, 96, 0.174);
    box-sizing: content-box;
    position: absolute;
    top: 2.5rem;
    left: 0;
    /* overflow: hidden; */
    display: none;
    z-index: 1000;
}

.dropdown.child {
    left: 100%;
    z-index: 1000;
    top: 0;
}

.dropdown-container.child::before {
    content: "\23F5";
    color: rgba(0, 0, 0, 0.438);
    position: absolute;
    left: 90%;

}

.dropdown li {
    width: 100%;
    padding: 13px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    flex-direction: row;
    font-weight: bold;
    font-size: 1rem;

}

.dropdown li:hover {
    background: #ebebeb;
}

.fa.fa-angle-down {
    font-size: 1.45rem;
}

.dropdown-container.parent:hover .fa.fa-angle-down {
    transition: all .3s ease-in;
    transform: rotate(-180deg);
}

.dropdown-container.parent:hover .dropdown.parent,
.dropdown.parent:hover {
    display: block;
}

.dropdown-container.child:hover>.dropdown.child {
    display: block;
}




/* Dropdown styling ends */

/* Animation Keyframes */



/* Animation Keyframes End */


/* Feature Icons */
.feature__icons {
    overflow-x: scroll;

}

.feature__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.feature__icon_image {
    width: 85px;
    height: 85px;
    background-color: #ffffff;
    margin: 10px;
    border-radius: 100%;
    display: grid;
    place-content: center;
    overflow: hidden;
    border: 1px solid lightgray;
}

.feature__icon span {
    font-weight: bold;
}

/* Feature Icons End */

/* Main Styling */
main {
    margin-left: 10%;
    margin-right: 10%;
}

/* Main Styling Ends */





/* Media Queries */
@media only screen and (max-width:800px) {
    main {
        margin-left: 0;
        margin-right: 0;
    }

    .feature__icons .feature__icon .feature__icon_image {
        width: 70px;
        height: 70px;
        margin-right: 10px;
    }
}

/* Media Queries end */


/* slideshow */

.slider{
    width: 100%;
    height: 450px;
    overflow-x: scroll;
    /* border-radius: 10px; */
    /* margin: 10px; */
    margin-top: 0px;
    display: flex;
    flex-flow: row;

}

.slideshow_wrapper{
    width: 100%;
    height: fit-content;
    position: relative;
}

.slider .slide{
    min-width: 100% !important;
    height: 100% !important;
    max-width: 100%;
    max-height: 100% !important;
    transition: all .5s cubic-bezier(0.025, 0.82, 0.165, 1);
    
}

.slideshow_wrapper #slider_controls{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rebeccapurple;
    left: 0;    
    /* background-color: red; */
    z-index: 100000;
}

@keyframes slideTransitionBackward{
    from{
        transform: translateX(-100%);
 
    }
    to{
        transform: translateX(0);
    
    }
}

@keyframes slideTransitionForward{
    from{
        transform: translateX(0);
  
    }
    to{
        transform: translateX(-100%);
        
    }
}

.slide.animateForward{
    animation-delay: 0s;
    animation-name: slideTransitionForward;
    animation-duration: 1s;
    animation-iteration-count: 1;
    transition:all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    animation-fill-mode: forwards;
    
}

.slide.animateBackward{
    animation-delay: 0s;
    animation-name: slideTransitionBackward;
    animation-duration: 1s;
    animation-iteration-count: 1;
    transition:all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    animation-fill-mode: forwards;
    
}

.slider .slide img{
    width: 100%;
    height: 100%;
}

.slideshow_wrapper div#next,
.slideshow_wrapper div#previous{
    font-size: 4rem;
    color: #ffffff;
    box-sizing: border-box;
    border-radius: 100%;
    background-color: #3d3d3d44;
    width: 4rem;
    height: 4rem;
    text-align: center;
    vertical-align: middle;
    line-height: 3rem;
    margin: 0.5rem;
    transition: all .4s ease-in-out;
    /* padding: 5px; */
}

.slideshow_wrapper #next,
.slideshow_wrapper #previous{
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    z-index: 2;
}

.slideshow_wrapper #next{
    right: 10px;
}

.slideshow_wrapper #previous{
    left:10px;
}

.slideshow_wrapper div#next span{
    transform: translate(-50%, -50%);
}

.slideshow_wrapper div#previous span{
    transform: translate(-50%, -50%);
}

 div#next:hover,
 div#previous:hover{
    cursor: pointer;
    background-color: #6660608d;
}

/* slideshow ends */


/* Sticky nav */
main {
    position: relative;
}


nav{
    width: 100%;
}

.content {
    padding: 0;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000000;
}

.sticky+.content {
    padding-top: 50px;
}



/* Sticky nav ends */


/* Mobile card */
.mobile_card {
    background-color: white;
    height: auto;
    width: 450px;
    padding: 30px;
    padding-left: 15px;
    box-sizing: border-box;
    box-shadow: 0 0 8px #0000002f;
    position: relative;
    min-width: 268px;
    max-width: 350px;
    margin-right: 13px;
}

.mobile_card .mgVerified{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 28px;
    height: 28px;
}

.mobile_card .discount_strip{
    font-weight: bold;
}

.mobile_card .pricing{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mobile_card .title {
    font-family: var(--regular-font-family);
    font-weight: bold;
    font-size: 1rem;
    padding-top: 25px;
    padding-bottom: 20px;
    text-align: left;
}

.mobile_card .pricing .price{
    font-family: var(--regular-font-family);
    font-weight: bolder;
    font-size: 1.05rem;
}

.mobile_card .rating{
    font-size: 1.2rem;
}

.mobile_card .discount_strip{
    background-color: #ED4166;
    width: fit-content;
    color: white;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 3px;
    padding-top: 3px;
    margin-top: 4px;
    font-size: 0.9rem;
    letter-spacing: 0.1cap;
}

.mobile_card .pricing .original_price{
    text-decoration-line: line-through;
    font-size: 0.85rem;
}

.mobile_card .pricing .discount_percent{
    color: red;
    font-size: 0.9rem;
}

.mobile_card img{
    width: 200px;
    height: 200px;
    margin: auto;
}

/* Mobile card ends */


.items_container{
    width: 100%;
    padding: 10px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: proximity;
    transition: all .5s ease-in-out;
}

.custom_container{
    position: relative;
    padding-top: var(--section-spacing);
    padding-bottom: var(--section-spacing);
}

.custom_container.md{
    padding-top: calc(0.7*var(--section-spacing));
    padding-bottom: calc(0.7*var(--section-spacing));
}

.custom_container h1,
.custom_container h3,
.custom_container h4{
    font-family: var(--regular-font-family);
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 7.2rem;
}

.custom_container h4{
    font-size: 1.2rem;
    line-height: 2rem;
}

.custom_container h3{
    line-height: 2rem;
}

.custom_container h1.text-l{
    font-size: 2.3rem;
    line-height: 9.2rem;
}

h3.text-b{
    font-size: 1.25rem;
    line-height: 1.25rem;
}

.custom_container h1.text-emphasis{
    font-size: 2.45rem;
    line-height: 9.5rem;
    font-family: var(--bold-font-family);
}


.card_box{
    width: 200px;
    height: 200px;
    padding: 10px;
    display: grid;
    place-items: center;
    box-shadow: 0 0 8px rgba(180, 180, 180, 0.54);
}

.card_box img{
    width: 120px;
    height: auto;
}

.text-bold{
    font-weight: bold;
}

.social_icons div span{
    border: 1px solid rgba(255, 255, 255, 0.411);
    padding: 10px;
    border-radius: 100%;
}

.social_icons div span:hover{
    color: black;
    background-color: white;
}



.custom_container .fa-angle-left,
.custom_container .fa-angle-right{
    background-color: white;
    width: 60px;
    height: 60px;
    display: grid;
    font-size: 28px;
    padding: 20px;
    padding-top: 18px;
    place-items: center;
    border-radius: 100%;
    box-shadow: 0 0 10px rgba(60, 54, 54, 0.433);
    position: absolute;
    top: 50%;
    color: #0000005c;
    z-index: 1000;
    transition: all .3s ease-in-out;
}

.custom_container .fa-angle-left:hover,
.custom_container .fa-angle-right:hover{
    cursor: pointer;
    transform: scale(0.97);
}

.custom_container .fa-angle-left{
    left: -2.5%;
    display: none;
}

.custom_container .fa-angle-right{
    right: -2.5%;
}